.main_contents {
  width: 50%;
  display: flex;
  margin-top: 50%;
  color: #fff;
  margin-left: 80%;
  flex-direction: column;
  
}
.global_statistics {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 35%;
  border-radius: 4px;
  box-shadow: #fff 0px 5px 15px;
  padding: 25px 0px;
  flex-direction: column;
  gap: 2rem;
  color: aliceblue;
  position: sticky;
  top: 20%;
  height: 200px;
}
/* 
.country_cards {
  border: 1px solid #fff;
  width: 82%;
  border-radius: 24px;
  padding: 12px 20px;
}

.countires_global {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 50%;
}

.countires_global input {
  border: none;
  border-radius: 24px;
  padding: 15px;
  width: 80%;
  outline: none;
  box-shadow: 2px 2px 8px #e3e7e4;
}



@media only screen and (max-width: 768px) {
  .main_contents {
    margin-top: 25%;
    flex-direction: column-reverse;
    gap: 5rem;
    justify-content: center;
    align-items: center;
  }
  .global_statistics {
    width: 80%;
  }
  .countires_global {
    width: 90%;
    text-align: center;
  }
  .countires_global input {
    width: 100%;
  }
  .country_cards {
    width: 100%;
  }

  .global_state {
    width: 100%;
  }
  .global_statistics {
    position: relative;
  }
} */
