.main {
  width: 100%;
  display: flex;
  margin-left: 10%;
  flex-direction: column;
}
.main_contents {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

@keyframes updown {
  0% {
    transform: translateY(-20px);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(-20px);
  }
}
.stats {
  display: flex;
  justify-content: space-between;
}
.statistics {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  height: 100vh;
  align-items: center;
  padding-top: 5%;
}
.global_total_status {
  box-shadow: #fff 0px 5px 15px;
  padding: 0px 25px;
  padding-bottom: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80%;
  background-color: #166063;
}
.country_status {
  display: flex;
  width: 80%;
  flex-direction: column;
  gap: 1rem;
}
.country_status input {
  border: none;
  border-radius: 24px;
  padding: 15px;
  width: 100%;
  outline: none;
  box-shadow: 2px 2px 8px #131736;
}
.country_cards {
  border: 1px solid #fff;
  width: 100%;
  border-radius: 24px;
  padding: 15px 20px;
  background-color: #166063;
}
.country_status h2 {
  color: #fff;
}

@media only screen and (max-width: 768px) {
  .main {
    width: 100%;
    padding: 0;
    align-items: center;
    justify-content: center;
    margin: 0;
  }
  .main_header {
    margin-top: 15%;
  }
  .global_total_status {
    width: 100%;
    margin-left: -22%;
  }
  .country_status {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 1rem;
    margin-left: -35%;
  }
  .country_cards {
    border: 1px solid #ffff;
    width: 109%;
    border-radius: 24px;
    background-color: transparent;
  }
  .country_status input {
    width: 109%;
  }
}
